.sh_sourceCode {
background-color:#fff;
color:#000;
font-weight:400;
font-style:normal;
}

.sh_sourceCode .sh_type {
color:#a52a2a;
font-weight:700;
font-style:normal;
}

.sh_sourceCode .sh_comment {
color:#000;
font-weight:400;
font-style:italic;
}

.sh_sourceCode .sh_preproc {
color:#27408b;
font-weight:400;
font-style:normal;
}

.sh_sourceCode .sh_function {
color:#000;
font-weight:400;
font-style:normal;
}

.sh_sourceCode .sh_keyword,.sh_sourceCode .sh_symbol,.sh_sourceCode .sh_cbracket,.sh_sourceCode .sh_date,.sh_sourceCode .sh_time,.sh_sourceCode .sh_file,.sh_sourceCode .sh_difflines,.sh_sourceCode .sh_property {
color:#000;
font-weight:700;
font-style:normal;
}

.sh_sourceCode .sh_string,.sh_sourceCode .sh_regexp,.sh_sourceCode .sh_number,.sh_sourceCode .sh_url,.sh_sourceCode .sh_ip,.sh_sourceCode .sh_name,.sh_sourceCode .sh_newfile,.sh_sourceCode .sh_value {
color:#006400;
font-weight:400;
font-style:normal;
}

.sh_sourceCode .sh_specialchar,.sh_sourceCode .sh_oldfile {
color:#2e8b57;
font-weight:400;
font-style:normal;
}

.sh_sourceCode .sh_variable,.sh_sourceCode .sh_selector {
color:#dda0dd;
font-weight:700;
font-style:normal;
}